  <div class="filters-container">
    <div class="filters">
      <!-- <p>Filter by:</p> -->
      <% if @search != "" %>
        <p> <%= link_to 'Appetiser', recipes_path(search: @search, category: 'Appetiser') %> </p>
        <p> <%= link_to 'Main', recipes_path(search: @search, category: 'Main')  %> </p>
        <p> <%= link_to 'Dessert', recipes_path(search: @search, category: 'Dessert')  %></p>
        <p> <%= link_to 'Drink', recipes_path(search: @search, category: 'Drink')  %></p>
      <% else %>
        <p> <%= link_to 'Appetiser', recipes_path(category: 'Appetiser', country: params[:country]), class: "btn-filter" %> </p>
        <p> <%= link_to 'Main', recipes_path(category: 'Main', country: params[:country]), class: "btn-filter" %> </p>
        <p> <%= link_to 'Dessert', recipes_path(category: 'Dessert', country: params[:country]), class: "btn-filter" %></p>
        <p> <%= link_to 'Drink', recipes_path(category: 'Drink', country: params[:country]), class: "btn-filter" %></p>
      <% end %>
    </div>
  </div>

<div class="main-container-index ">
  <div class="container-flex">
    <div class="card-container">


      <% @recipes.each do |recipe| %>
        <div class="recipe-card">
          <div class="country-strip">
            <%= recipe.user.country.name.upcase %>
          </div>
          <%= cl_image_tag recipe.picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
          <div class="info-card">
            <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
            <div>
             <p><%= recipe.short_description%></p>
            </div>
          </div>
          <div class="heart2">
            <div id="heart_container_<%= recipe.id %>" class="heart-container">
              <% saved_recipe = SavedRecipe.find_by(user: current_user, recipe: recipe.id) %>
              <% if saved_recipe %>
                <%= link_to saved_recipe_path(saved_recipe), method: :delete, remote: true  do %>
                  <i id='heart_<%= recipe.id %>' class='fas fa-heart heart-icon2'></i>
                <% end %>
              <% else %>
                <%= link_to recipe_saved_recipes_path(recipe), method: :post, remote: true  do %>
                  <i id="heart_<%= recipe.id %>" class="far fa-heart heart-icon2"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



