<div class="main-container">
  <h1>Recipes</h1>
  <div class="card-container">
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        <li><%= recipe.description%></li>
        <li><%= recipe.picture_url%></li>
        <% if current_user %>
          <% if current_user.id == recipe.user.id %>
            <%= link_to 'Delete recipe?', recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" }%>
             <li><%= link_to 'Create a recipe', new_recipe_path %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>



<%= form_tag(recipes_path, method: :get) do %>

  <%= select_tag(:category, options_for_select([['Main', 'Main'], ['Starter', 'Starter'], ['Dessert', 'Dessert'], ['Drink', 'Drink']]))%>

  <%= button_tag("Add", type: "submit") %>
<% end %>

