<div class="main-container">
  <h1>Recipes</h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
      <li><%= recipe.description%></li>
      <li><%= recipe.category%></li>
      <li><%= recipe.cooktime%></li>
      <li><%= recipe.preptime%></li>
      <li><%= recipe.picture_url%></li>
      <li><%= recipe.video_url%></li>
    <% end %>
  </ul>
</div>


