<div class="main-container">
  <div class="filters">
    <p class="btn-filter btn-filter:hover"> <%= link_to 'Starter', recipes_path(category: 'Starter')  %> </p>
    <p class="btn-filter"> <%= link_to 'Main', recipes_path(category: 'Main')  %> </p>
    <p class="btn-filter"> <%= link_to 'Dessert', recipes_path(category: 'Dessert')  %></p>
    <p class="btn-filter"> <%= link_to 'Drink', recipes_path(category: 'Drink')  %></p>
  </div>
  <!-- <div class="title">
    <h1>Recipes</h1>
  </div> -->


  <div class="container-flex">
    <div id="country">
      <%= image_tag "india.svg" %>
    </div>
    <div class="card-container">
      <% @recipes.each do |recipe| %>
        <div class="recipe-card">
          <%#= cl_image_tag recipe.picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
          <%= image_tag 'https://images.unsplash.com/photo-1475090169767-40ed8d18f67d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80' %>
          <div class="info-card">
            <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
            <p><%= recipe.description%></p>
          </div>
          <% if current_user %>
            <% if current_user.id == recipe.user.id %>
              <%= link_to 'Delete recipe?', recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" }%>
              <p><%= link_to 'Create a recipe', new_recipe_path %></p>
            <% end %>
          <% end %>
          <div class="heart">
            <div class="heart-container">
              <i class="fas fa-heart heart-icon"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
