<div class="main-container-index ">
  <div class="filters">
      <!-- <p>Filter by:</p> -->
      <p class="btn-filter btn-filter:hover"> <%= link_to 'Starter', recipes_path(category: 'Starter')  %> </p>
      <p class="btn-filter"> <%= link_to 'Main', recipes_path(category: 'Main')  %> </p>
      <p class="btn-filter"> <%= link_to 'Dessert', recipes_path(category: 'Dessert')  %></p>
      <p class="btn-filter"> <%= link_to 'Drink', recipes_path(category: 'Drink')  %></p>

  </div>
  <!-- <div class="title">
    <h1>Recipes</h1>
  </div> -->




  <div class="container-flex">
    <div id="country">
      <%= image_tag "india.svg" %>
    </div>
    <div class="card-container">
      <% @recipes.each do |recipe| %>
        <div class="recipe-card">
          <%= cl_image_tag recipe.picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
          <div class="info-card">
            <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
            <p><%= recipe.description.truncate(30) %></p>
            <% if current_user %>
              <% if current_user.id == recipe.user.id %>
                <div id="index-delete">
                  <%= link_to recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_recipe"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="heart">
            <div id="heart_container_<%= recipe.id %>" class="heart-container">
              <% if current_user && current_user.saved_recipes.any? { |saved_recipe| saved_recipe.recipe == recipe } %>
                <%= link_to saved_recipe_path(recipe.saved_recipes.select{|rec| rec.recipe == recipe}), method: :delete, remote: true  do %>
                  <i id='heart_<%= recipe.id %>' class='fas fa-heart heart-icon' style='color: red;'></i>
                <% end %>
              <% else %>
                <%= link_to recipe_saved_recipes_path(recipe), method: :post, remote: true  do %>
                  <i id="heart_<%= recipe.id %>" class="fas fa-heart heart-icon"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



