<div class="main-recipe-container">

  <div class="container-left">
    <div class="image-card">
    <div class="recipe-img">
      <%= cl_image_tag @recipe.picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
    </div>
    <div class="footer-banner">
   <!--    <i id="" class="fas fa-heart heart-icon"></i> -->
      <i class="fas fa-comment-alt"></i>
      <i class="fas fa-share-alt"></i>
    </div>
    </div>

    <div>
      <div>
        <p id="counter"> <%= pluralize @recipe.comments.size, "comment" %> </p>
        <div id="comments">
            <% @recipe.comments.each do |comment| %>
              <li id="comment-<%= comment.id %>">
                <p> <%= comment.content %> </p>
                <p> <%= link_to "Delete", comment_path(comment), method: :delete, remote: true %> </p>
              </li>
            <% end %>
        </div>
      </div>
      <div>
        <% if @recipe.comments.empty? %>
          <p>Be the first to leave a comment for <%= @recipe.name %></p>
        <% end %>
      </div>
      <div>
        <%= render 'comments/form', recipe: @recipe, comment: @comment %>
      </div>
    </div>
  </div>


  <div class="recipe-info-container">
    <div class="recipe-box">
      <div class="ingredient-main-container">

        <div class="wrap-ingredients">
          <% @recipe.quantities.each do |quantity|%>

            <div class="ingredient-amount">
              <p> <%= quantity.description %> </p>
            </div>
            <div class="ingredient-type">
              <%= quantity.ingredient.name %>
            </div>
            <% if @recipe.user == current_user%>
              <%= link_to quantity_path(quantity), method: :delete, class: "link"  do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="time-info">
          <span>
            <p> preptime : </p>
           <p> <%= @recipe.preptime %></p>
          </span>
          <span>
            <p> cooktime : </p>
            <%= @recipe.cooktime %>
          </span>
        <!--   <p> <%= @recipe.category %> </p>
          <p> <%= @recipe.dietary_requirements%> </p> -->
        </div>

      </div>

    </div>
    <div class="method">
      <p><%= @recipe.description %></p>
    </div>
  </div>
</div>
    <%= link_to 'Go back to all recipes', recipes_path %>
