<div class="main-recipe-container">

  <div class="container-left">
    <div class="image-card">
      <h1> <%= @recipe.name %> </h1>
      <div class="recipe-img">
        <%= cl_image_tag @recipe.picture_url, height: 300, dpr: 3.0, crop: :fill %>
      </div>
      <div class="footer-banner">
        <div id="heart_container_<%= @recipe.id %>">
          <% if current_user && current_user.saved_recipes.any? { |saved_recipe| saved_recipe.recipe == @recipe } %>
            <%= link_to saved_recipe_path(@recipe.saved_recipes.select{|rec| rec.recipe == @recipe}), method: :delete, remote: true  do %>
              <i id='heart_<%= @recipe.id %>' class='fas fa-heart' style='color: #4E97BB;'></i>
            <% end %>
          <% else %>
            <%= link_to recipe_saved_recipes_path(@recipe), method: :post, remote: true  do %>
              <i "heart_<%= @recipe.id %>" class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>
        <i class="fas fa-comment-alt"></i>
        <i class="fas fa-share-alt"></i>
      </div>
    </div>

    <div>
      <div class="comment-container">
        <p id="counter"> <%= pluralize @recipe.comments.size, "comment" %> </p>
        <div id="comments">
          <% @recipe.comments.each do |comment| %>
            <div class="comment d-inline" id="comment-<%= comment.id %>">
              <p> <%= comment.content %> </p>
              <p> <%= link_to "Delete", comment_path(comment), method: :delete, remote: true, class: "link" %> </p>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <% if @recipe.comments.empty? %>
          <p>Be the first to leave a comment for <%= @recipe.name %></p>
        <% end %>
      </div>
      <div>
        <%= render 'comments/form', recipe: @recipe, comment: @comment %>
      </div>
    </div>
  </div>

  <div class="recipe-info-container">

    <div class="ingredient-main-container">
      <p>Ingredients</p>
      <div class="ingredient-column">
        <div class="wrap-ingredients">
          <% @recipe.quantities.each do |quantity|%>
            <div class="ingredient-amount">
              <p> <%= quantity.description %>  <%= quantity.ingredient.name %>
              <% if @recipe.user == current_user%>
                <span style="margin-left: 20px;">
                  <%= link_to quantity_path(quantity), method: :delete, class: "link" do %>
                  <i class="far fa-trash-alt"></i>
                  <% end %>
                </span>
              <% end %>
               </p>
            </div>
          <% end %>
        </div>

        <div class="time-info">
          <span>
            <p> preptime : </p>
            <p> <%= @recipe.preptime %></p>
          </span>
          <span>
            <p> cooktime : </p>
            <%= @recipe.cooktime %>
          </span>
        <!--   <p> <%= @recipe.category %> </p>
            <p> <%= @recipe.dietary_requirements%> </p> -->
        </div>
      </div>

    </div>
    <div class="method">
      <p>Method</p>
      <p><%= @recipe.description %></p>
    </div>
  </div>
</div>
<%= link_to 'Go back to all recipes', recipes_path, class: "link"%>
