<div class="main-container-user">
  <div id="user-show">
    <div class="user-info">
      <div class="user_show_avatar">
        <%= cl_image_tag @user.profile_picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
      </div>
      <div class="name-and-country">
        <h3 id="user-name"> <%= @user.first_name.upcase %> </h3>
        <p id="country-name"> <%= link_to @user.country.name.upcase, country_path(@user.country) %> </p>
      </div>
      <div class="blurb-and-create">
        <div class="blurb">
          "<%= @user.blurb %>"
        </div>
        <div id="create">
          <%= link_to new_recipe_path do  %>
            <button type="button" class="btn btn-light" id="user-btn"> + Create a new recipe</button>
          <% end %>
        </div>
      </div>
    </div>

    <h2>FAVOURITE RECIPES</h2>
    <div id="carouselExampleControlsOne" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <% count = 0 %>
        <% @saved_recipes.each do |saved_recipe| %>
          <div class="carousel-item <%= count == 0 ? 'active' : '' %>">
            <div id="my-recipes">
              <% if count < @saved_recipes.count %>
                <div class="recipe-card-favourite">
                  <div class="country-strip">
                    <%= saved_recipe.recipe.user.country.name.upcase %>
                  </div>
                  <%= cl_image_tag @saved_recipes[count].recipe.picture_url %>
                  <%= link_to @saved_recipes[count].recipe.name, recipe_path(@saved_recipes[count].recipe) %>
                </div>
              <% end %>
              <% if count + 1 < @saved_recipes.count %>
                <div class="recipe-card-favourite">
                  <div class="country-strip">
                    <%= saved_recipe.recipe.user.country.name.upcase %>
                  </div>
                  <%= cl_image_tag @saved_recipes[count + 1].recipe.picture_url %>
                  <%= link_to @saved_recipes[count + 1].recipe.name, recipe_path(@saved_recipes[count + 1].recipe) %>
                </div>
              <% end %>
              <% if count + 2 < @saved_recipes.count %>
                <div class="recipe-card-favourite">
                  <div class="country-strip">
                    <%= saved_recipe.recipe.user.country.name.upcase %>
                  </div>
                  <%= cl_image_tag @saved_recipes[count + 2].recipe.picture_url %>
                  <%= link_to @saved_recipes[count + 2].recipe.name, recipe_path(@saved_recipes[count + 2].recipe) %>
                </div>
              <% end %>
              <% if count + 3 < @saved_recipes.count %>
                <div class="recipe-card-favourite">
                  <div class="country-strip">
                    <%= saved_recipe.recipe.user.country.name.upcase %>
                  </div>
                  <%= cl_image_tag @saved_recipes[count + 3].recipe.picture_url %>
                  <%= link_to @saved_recipes[count + 3].recipe.name, recipe_path(@saved_recipes[count + 3].recipe) %>
                </div>
              <% end %>
              <% if count + 4 < @saved_recipes.count %>
                <div class="recipe-card-favourite">
                  <div class="country-strip">
                    <%= saved_recipe.recipe.user.country.name.upcase %>
                  </div>
                  <%= cl_image_tag @saved_recipes[count + 4].recipe.picture_url %>
                  <%= link_to @saved_recipes[count + 4].recipe.name, recipe_path(@saved_recipes[count + 4].recipe) %>
                </div>
              <% end %>
            </div>
          </div>
          <% count +=5 %>
            <% if count >= @saved_recipes.count %>
            <% break  %>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControlsOne" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControlsOne" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <h2>MY RECIPES</h2>
    <div id="carouselExampleControlsTwo" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <% count = 0 %>
        <% @recipes.each do |recipe|%>
          <div class="carousel-item <%= count == 0 ? 'active' : '' %>">
            <div id="my-recipes">
              <% if count < @recipes.count %>
                <div class="recipe-card-user">
                  <%= cl_image_tag @recipes[count].picture_url %>
                    <%= link_to @recipes[count].name, recipe_path(@recipes[count]) %>
                  <div class="delete">
                    <%= link_to recipe_path(@recipes[count]), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div id="delete-svg">
                      <i class="fas fa-times"></i>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end  %>
              <% if count + 1 < @recipes.count %>
                <div class="recipe-card-user">
                  <%= cl_image_tag @recipes[count + 1].picture_url %>
                    <%= link_to @recipes[count + 1].name, recipe_path(@recipes[count + 1]) %>
                  <div class="delete">
                    <%= link_to recipe_path(@recipes[count + 1]), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div id="delete-svg">
                      <i class="fas fa-times"></i>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if count + 2 < @recipes.count %>
                <div class="recipe-card-user">
                  <%= cl_image_tag @recipes[count + 2].picture_url %>
                    <%= link_to @recipes[count + 2].name, recipe_path(@recipes[count + 2]) %>
                  <div class="delete">
                    <%= link_to recipe_path(@recipes[count + 2]), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div id="delete-svg">
                      <i class="fas fa-times"></i>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if count + 3 < @recipes.count %>
                <div class="recipe-card-user">
                  <%= cl_image_tag @recipes[count + 3].picture_url %>
                    <%= link_to @recipes[count + 3].name, recipe_path(@recipes[count + 3]) %>
                  <div class="delete">
                    <%= link_to recipe_path(@recipes[count + 3]), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div id="delete-svg">
                      <i class="fas fa-times"></i>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if count + 4 < @recipes.count %>
                <div class="recipe-card-user">
                  <%= cl_image_tag @recipes[count + 4].picture_url %>
                    <%= link_to @recipes[count + 4].name, recipe_path(@recipes[count + 4]) %>
                  <div class="delete">
                    <%= link_to recipe_path(@recipes[count + 4]), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div id="delete-svg">
                      <i class="fas fa-times"></i>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% count +=5 %>
            <% if count >= @saved_recipes.count %>
            <% break  %>
          <% end %>
          <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControlsTwo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControlsTwo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>




