<h1>User Profile</h1>
<div>
  <%= cl_image_tag @user.profile_picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
</div>

<h3>User description</h3>

<%= link_to "Create a new Recipe", new_recipe_path  %>

<h1>My Saved Recipes</h1>

    <% @saved_recipes.each do |saved_recipe| %>
      <div class="recipe-card-show">
        <%= saved_recipe.recipe.name %>
        <%= saved_recipe.recipe.picture_url %>
      </div>
    <% end %>


<h3>Updated Recipes</h3>
<% @recipes.each do |recipe|%>
  <div>
   <%= recipe.name %>
   <%= link_to "delete", recipe_path(recipe), method: :delete%>
  </div>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>



