<div class="navbar sticky-top">
  <div>
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag("logo.png")%>
    <% end %>
  </div>

  <div class="nav-items">
    <div class="item">
      <%= link_to "ALL RECIPES", recipes_path, class: "link-item" %>
    </div>
    <div class="item">
      <%= link_to "ALL COUNTRIES", countries_path, class: "link-item" %>
    </div>
  </div>

  <div class="search-bar">
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for recipe", class: "search" %>
      <%= button_tag(image_tag "search.png", type: "submit", class: "search-button") %>
    <% end %>
  </div>

  <div class="navbar-nav" id="logout">
      <% if user_signed_in? %>

      <div class="avatar" id="avatar-dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <%= link_to user_path(current_user) do %>
          <% if current_user.facebook_picture_url.present? %>
            <% avatar_url = current_user.facebook_picture_url %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif current_user.profile_picture_url.file.present? %>
              <%= cl_image_tag current_user.profile_picture_url, id: "navbar-wagon-menu" %>
          <% end %>
          <% else %>
            <% avatar_url = "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <li class="item">
        <%= link_to "LOGIN", new_user_session_path, class: "link-item" %>
      </li>
    <% end %>
  </div>
</div>

<script>

// const logout = document.getElementById("d-none");
//   logout.addEventListener("click", (event) => {
//     logout.removeAttribute("d-none");
// });

</script>

