<div class="navbar navbar-expand-sm navbar-lewagon navbar sticky-top">
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png")%>
    <% end %>
    <%= link_to "ALL RECIPES", recipes_path, class: "link-item" %>
    <%= link_to "ALL COUNTRIES", countries_path, class: "link-item" %>

  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="search-bar">
      <%= form_tag(recipes_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for recipe", class: "search" %>
        <%= button_tag(image_tag "search.png", type: "submit", class: "search-button") %>
      <% end %>
    </div>
    <ul class="navbar-nav mr-auto space-avatar">
      <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <% if current_user.facebook_picture_url.present? %>
              <% avatar_url = current_user.facebook_picture_url %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% elsif current_user.profile_picture_url.file.present? %>
              <%= cl_image_tag current_user.profile_picture_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <% avatar_url = "https://res.cloudinary.com/do6brpyuo/image/upload/v1552326063/default_avatar.png" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-right nav-dropdown-box" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Upload a recipe", new_recipe_path, class: "dropdown-item" %>
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <%= link_to "LOGIN", new_user_session_path, class: "link-item" %>
        <% end %>

    </ul>
  </div>
</div>
