<div class="navbar sticky-top">
  <div>
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag("logo.png")%>
    <% end %>
  </div>

  <div class="nav-items">
    <div class="item">
      <%= link_to "ALL RECIPES", recipes_path, class: "link-item" %>
    </div>
    <div class="item">
      <%= link_to "ALL COUNTRIES", countries_path, class: "link-item" %>
    </div>
  </div>

  <div class="search-bar">
    <%= form_tag(recipes_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for recipe", class: "search" %>
      <%= button_tag(image_tag "search.png", type: "submit", class: "search-button") %>
    <% end %>
  </div>

  <div class="navbar-nav">
      <% if user_signed_in? %>
      <div class="avatar">
        <%= link_to user_path(current_user) do %>
          <%= cl_image_tag current_user.profile_picture_url %>
        <% end %>
      </div>
    <% else %>
      <li class="item">
        <%= link_to "LOGIN", new_user_session_path, class: "link-item" %>
      </li>
    <% end %>
  </div>
</div>
