<div class="main-container">
  <div class="filters-container">
    <div class="filters" id="country-show">
      <!-- <p>Filter by:</p> -->
      <% if @search != "" %>
        <%= link_to recipes_path(search: @search, category: 'Appetiser', country: @country.name) do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Appetiser </button>
        <% end %>
        <%= link_to recipes_path(search: @search, category: 'Main', country: @country.name) do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Main </button>
        <% end %>
        <%= link_to recipes_path(search: @search, category: 'Dessert', country: @country.name) do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Dessert </button>
        <% end %>
        <%= link_to recipes_path(search: @search, category: 'Drink', country: @country.name) do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Drink </button>
        <% end %>
      <% else %>
        <%= link_to recipes_path(category: 'Appetiser', country: @country.name), class: "btn-filter" do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Appetiser </button>
        <% end %>
        <%= link_to recipes_path(category: 'Main', country: @country.name), class: "btn-filter" do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Main </button>
        <% end %>
        <%= link_to recipes_path(category: 'Dessert', country: @country.name), class: "btn-filter" do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Dessert </button>
        <% end %>
        <%= link_to recipes_path(category: 'Drink', country: @country.name), class: "btn-filter" do %>
          <button type="button" class="btn btn-light" id="filter-btn"> Drink </button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="sub-container" id="title-country-show">
    <h1><%= @country.name.upcase %> </h1>
  </div>

  <div class="main-container-index">
    <div class="container-flex">
      <div class="card-container">
        <% @country.recipes.each do |recipe| %>
          <div class="recipe-card">
            <div class="country-strip">
              <%= recipe.user.country.name.upcase %>
            </div>
            <%= cl_image_tag recipe.picture_url, height: 300, dpr: 3.0, width: 400, crop: :fill %>
            <div class="info-card-index">
              <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
              <div>
               <p><%= recipe.short_description%></p>
              </div>
            </div>
            <div class="heart2">
              <div id="heart_container_<%= recipe.id %>" class="heart-container">
                <% saved_recipe = SavedRecipe.find_by(user: current_user, recipe: recipe.id) %>
                <% if saved_recipe %>
                  <%= link_to saved_recipe_path(saved_recipe), method: :delete, remote: true  do %>
                    <i id='heart_<%= recipe.id %>' class="fas fa-heart heart-icon-show"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_saved_recipes_path(recipe), method: :post, remote: true  do %>
                    <i id="heart_<%= recipe.id %>" class="far fa-heart heart-icon-show"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
